    <footer class="bg-primary-gradient"></footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/bold-and-bright.js"></script>
    <script id="bs-live-reload" data-sseport="52325" data-lastchange="1664676250869" src="/js/livereload.js"></script>
</body>

</html>