<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <section class="py-4 py-xl-5" id="main-splash">
    <div class="container">
        <div class="text-center p-4 p-lg-5">
            <p class="fw-bold text-primary mb-2" id="intro-subtitle">Fair and Fresh.</p>
            <h1 class="fw-bold mb-4" id="intro-title">Buy coffee.<br />Direct from the growers.</h1>
            <a class="btn btn-primary fs-5 me-2 py-2 px-4" href="/coffee" >Coffee</a>
            <a class="btn btn-light fs-5 py-2 px-4" href="/growers">Growers</a>
        </div>
    </div>
</section>
</main>



<%- include("./partials/footer") %>